@font-face {
    font-family: Lucon;
    src: url(../fonts/lucon.ttf);
}

@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: ComicNeue;
    src: url(../fonts/ComicNeue-Regular.ttf);
}